/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.doporucujeme {
    color: white;  
    display: flex;
    flex-direction: column;
    margin: 0%;

}

.hlavni-recept {
    background-image: url( images/burger.jpg );
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 1px;  
    padding: 10px;
 }

.recept-meta {
    font-size: 14px;
    font-weight: 400;
}

.recept-kategorie {
    float: left;
}

.recept-komentare {
    float: right; 
 }

.recept-nazev1 {
    margin-top: 162px;
    font-weight: 800;
    font-size: 28px;
    position:relative;
 }

.sloupec {
    display: flex;
    flex-direction: column;
}

.recept.recept2,
.recept.recept3,
.recept.recept4,
.recept.recept5 {
    background-size: cover;
    background-position: center;
    min-height: 90px;
    margin-bottom: 1px;  
    padding: 10px;
}

.recept.recept2 {
    background-image: url( images/sushi.jpg ); 
}

.recept.recept3 {
    background-image: url( images/rajcata.jpg );
}

.recept.recept4 {
    background-image: url( images/kure.jpg );
}

.recept.recept5 {
    background-image: url( images/grilovani.jpg );   
}

.recept-nazev {
    font-size: 18px;
    margin-top: 48px;
}


@media ( min-width: 480px ) {
   .doporucujeme {
        justify-content: flex-start;
        align-items: stretch;
   }
   
    .hlavni-recept {
        min-height: 250px;  
    }

    .sloupec {
        flex-direction: row; 
        width: 50%;
    } 
   
    .recept.recept2,
    .recept.recept3,
    .recept.recept4,
    .recept.recept5 {
        min-height: 150px;
        margin: 1px 1px 1px;
        min-width: 100%;  
    }

    .recept-nazev1 {
        font-size: 36px;
        margin-top: 290px;
        position: relative;
    } 

    .recept-nazev {
        font-size: 22px;
        margin-top: 100px;
        position: relative;
    }
}

@media ( min-width: 860px ) {
    .doporucujeme {
        flex-direction: row;
    }

    .hlavni-recept {
        min-height: 400px;
        min-width: 33%; 
    }

    .sloupec {
        justify-content: right;
        flex-wrap: wrap;
        margin: 1px;
        width: 66.6%;
    }

    .recept.recept2,
    .recept.recept3,
    .recept.recept4,
    .recept.recept5 {
        min-height:200px;
        margin: 1px;
    }
    
    .recept-nazev1 {
        font-size: 48px;
        margin-top: 242px;
        position: relative;
    }  

    .recept-nazev {
        font-size: 28px;
        margin-top: 114px;
        position: relative;
    }
}
